# 【必须忽略】 编译输出和中间文件
build/
bin/
out/
debug/
release/

# 【必须忽略】 VS Code 缓存和本地配置，但保留通用配置
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
 

# 【必须忽略】 C++ 编译产生的垃圾文件 (以防万一它们出现在根目录)
*.exe
*.obj
*.pdb
*.ilk
*.lib
*.dll
*.exp
*.tlog
*.suo
*.user
*.db
*.ipch
*.sdf
*.opensdf

# 【必须忽略】 系统自动生成的文件
.DS_Store
Thumbs.db
